

/* Card styles */
.card {
  width: 700px;
  height: 500px;
  padding: 28px;
  background: #1b1b1b;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Title */
.title {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 22px;
  padding-bottom: 60px;
}

/* Label */
.label {
  width: 15%;
  font-size: 18px;
  color: #ff7a2f;
  margin-bottom: 6px;
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Input field */
.input {
  width: 100%;
  height: 25px;
  padding: 12px;
  background: #2b2b2b;
  border: 1px solid #555;
  border-radius: 8px;
  color: #fff;
  transition: all 0.25s ease;
  outline: none;
}

/* Input hover + focus brighten effect */
.input:hover,
.input:focus {
  border-color: #ff8b3d;
  background: #333;
  box-shadow: 0 0 6px rgba(255, 136, 63, 0.6);
}

/* Field wrapper */
.fieldWrapper {
  margin-bottom: 60px;
  width: 90%;
  height: 65px;
  margin-left: 20px;

}

/* Button */
.btn {
  width: 90%;
  height: 50px;
  margin-top: 20px;
  padding: 12px;
  margin-left: 0px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 4px;
  color: #fff;
  background: linear-gradient(90deg, #ff7a2f, #ff9b47);
  transition: all 0.25s ease;
  align-items: center;
}

/* Button hover */
.btn:hover {
  background: linear-gradient(90deg, #ff8b3d, #ffab5f);
  box-shadow: 0 4px 12px rgba(255, 128, 50, 0.5);
}