.maincontainer{
    align-items: center;
    text-align: center;
    margin-left: 0;
    margin-top: 125px;
    /* position: sticky; */
    z-index: 1000;}

.maincontainer h1{
   color: white;
   font-family: sans-serif;
   font-weight: 900%;
   font-size: 100px;
   line-height: 35px;
   letter-spacing: -0.02em;
   margin-right:90px ;
   text-align: start;

}

.maincontainer h2{
   color: white;
   font-family: sans-serif;
   font-weight: 750%;
   font-size: 85px;
   line-height: 15px;
   letter-spacing: -0.02em;

}



.maincontainer .recent{
    text-align: left;
    text-align: start;
}

.maincontainer .Devtxt{
    font-size: 18px;
    color: 
rgb(153, 143, 143);
    font-family:sans-serif;
    text-align: left;
    font-weight: 400;
    line-height: 25px;
    margin-top: -30px;
    letter-spacing: -0.00001em;

}


.maincontainer .recent{
    margin-top: 140px;
}

.maincontainer .Dev{
    color: #353334;
    margin-right: 220px;
}


.maincontainer .pro{
    color: #353334;
}
.maincontainer .numdata{
    display: flex;
    flex-direction:row;
    color: white;
    margin-top: 60px;
    width: 450px;
    justify-content: space-between;

}


.maincontainer .numdata .exp .expyr,.maincontainer .numdata .projects .projcount
, .maincontainer .numdata .clients .clientcnt{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 73px;
    font-weight: 600;
    font-family: sans-serif;
    line-height:96px ;
}


.maincontainer .numdata .exp .exptxt,.maincontainer .numdata .projects .projtxt
, .maincontainer .numdata .clients .clienttxt{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(153, 143, 143);
    margin-top: 1px;
    line-height: 19px;
    text-align: left;
}


.maincontainer .colorcards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    width: 76%;
    gap: 0px;

}

.maincontainer .colorcards .orangecard{
    width: 350px;
    height: 211px;
    background-color: #f46c38;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.maincontainer .colorcards .greencard{
     width: 280px;
    height: 211px;
    background-color: greenyellow;
    border-radius: 10px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
   
}

.maincontainer .colorcards .orangecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
   
}

.maincontainer .colorcards .orangecard .db{
   margin-right: 260px;
    margin-top: -80px;

}

.maincontainer .colorcards .greencard .ui{
    margin-right: 190px;
    margin-bottom: 19px;

}
.maincontainer .colorcards .orangecard .orangetxt .paratxt{
    font-family: sans-serif;
    font-weight: 550;
    font-size: 24px;
    color: white;
    margin-top: 20px;
    line-height: 26px;
    text-align: left;
    margin-left: 20px;

}

.maincontainer .colorcards .greencard .greentxt .paratxtwo{
    font-family: sans-serif;
    font-weight: 550;
    font-size: 24px;
    color:black;
    margin-top: 5px;
    line-height: 26px;
    text-align: left;
    margin-left: 20px;

}

.maincontainer
.colorcards
.orangecard
.orangebtn{
    height: 32px;
    width: 32px;
    background-color: #f46c38;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    display: block;
    margin-left:290px ;
    margin-top: 20px;
        
    
    padding: 2px;
}

.maincontainer
.colorcards
.greencard
.greenbtn{
    height: 32px;
    width: 32px;
    background-color: greenyellow;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-top: -10px;

    display: block;
    margin-left:210px ;
        
    
    padding: 2px;
}

.maincontainer
.colorcards
.orangecard
.orangebtn svg{
    
    margin-left: 5px;
    margin-top: 5px;
align-items: center;}

.maincontainer
.colorcards
.greencard
.greenbtn svg{
    
    margin-left: 5px;
    margin-top:4px;
align-items: center;}


.maincontainer
.colorcards
.orangecard
.orangebtn:hover svg{
   
    stroke: #f46c38;
}

.maincontainer
.colorcards
.greencard
.greenbtn:hover svg{
   
    stroke: greenyellow;
}
.maincontainer
.colorcards
.orangecard
.orangebtn:hover{
    background-color: white;
    border-color: #f46c38;
    color: #f46c38;
    stroke: #f46c38;
}


.maincontainer
.colorcards
.greencard
.greenbtn:hover{
    background-color:black;
    border-color: greenyellow;
    color: greenyellow;
    stroke: greenyellow;
}


.maincontainer .projodiv .projcard{
    width: 596px;
    height: 144px;
    padding-right:20px;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: 16px;
    opacity: 1;
        gap: 30px;


}

.maincontainer .projodiv .projcard:hover{
   background-color: rgba(255, 255, 255, 0.03);
   cursor: pointer;
}

.maincontainer .projodiv .projcard .projimg img{
    width: 134px;
    height: 130px;
    margin-left: 20px;
    background-color: red;
    border-radius: 10px;
}


.maincontainer .projodiv .projcard .projtxt .projhead{
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: white;
    margin-top: 10px;
    line-height: 2px;
    text-align: left;

  
}

.maincontainer .projodiv .projcard .projtxt .projdes{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(153, 143, 143);
    margin-top: 5px;
    line-height: 22px;
    text-align: left;

}



.maincontainer .projodiv .projcard:hover  .upicon svg{
   stroke: red;
}


.expone .exphead{
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    line-height: 2px;
    text-align: left;

  
}.expone .exppara{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(153, 143, 143);
    margin-top: 5px;
    line-height: 22px;
    text-align: left;

}

.expone .expnum{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(153, 143, 143);
    margin-top: 5px;
    line-height: 22px;
    text-align: left;

}

.expone{
  width: 596px;
    height: 144px;
    padding-right:20px;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
   
  
    margin-top: 20px;
    border-radius: 16px;
    opacity: 1;
}

.expone:hover{
   background-color: rgba(255, 255, 255, 0.03);
   cursor: pointer;
}




/* ---------- PREMIUM TOOLS SECTION ---------- */

.toolsTitle {
  font-size: 64px;
  font-weight: 800;
  font-family: sans-serif;
  color: white;
  margin: 0;
}

.toolsSubtitle {
  font-size: 48px;
  font-weight: 700;
  color: transparent;
  margin-top: -10px;
}

.toolsGrid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 25px 60px;
}

.toolCard {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 20px 25px;
  transition: 0.3s ease;
}

.toolCard:hover {
  background-color: #262626;
  transform: translateY(-4px);
}

.toolIcon {
  width: 40px;
  height: 40px;
}

.toolInfo h3 {
  margin: 0;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-align:start;

}

.toolInfo p {
  margin: 3px 0 0;
  font-size: 14px;
  color: rgb(153, 143, 143);
  font-family: sans-serif;
  font-weight:400;
  text-align: 
  left;
}






/* CONTACT FORM SECTION */


.contactSection{
  margin-right: 160px;}

.contactTitle {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.contactFade {
  color: rgba(255, 255, 255, 0.1);
  display: block;
  margin-top: -20px;
}

.contactForm {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputRow {
  display: flex;
  gap: 20px;
}

.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputGroup label {
  font-size: 12px;
  font-family:sans-serif ;

  margin-bottom: 8px;
  color: rgb(136, 136, 136)
;
}

.inputGroup input,
.inputGroup select,
.inputGroup textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #2a2a2a;
  color: #fff;
  font-size: 15px;
  outline: none;
}

.inputGroup input{
    width: 90%;
}

.inputGroup textarea {
    font-family: inherit;
     width: 
     95%;
}

.inputGroup input::placeholder,
.inputGroup textarea::placeholder {
  color: #888;
}

.inputGroup select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

.inputGroup textarea {
  height: 130px;
  resize: none;
}

.submitBtn {
  background-color: #ff6b35;
  color: #fff;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submitBtn:hover {
  background-color: #e65a29;
}

@media (max-width: 768px) {
  .inputRow {
    flex-direction: column;
  }

  .contactTitle {
    font-size: 42px;
  }

  .contactFade {
    font-size: 40px;
  }
}

.logobox{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}